@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
}

header img {
    width: 100%;
}

#headerdiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#table {
   display: table;
   width: 100%;
   height: 100%;
   
}

#table div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#table p {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0px 10px;
}

button {
    background-color: rgb(79, 79, 182);
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 30%;
    border: none;
    
}

h1 span {
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    border-left: solid 3px black;
    color: orange;
    padding-left: 7px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 35px auto;
}

nav {
    width: 90%;
    margin: 0px auto;
    background-color: rgb(153, 199, 218);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    padding: 11px 11px;
}

li:hover {
    background-color: red;
}

h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

main {
    width: 90%;
    margin: 0 auto;
}

h3 {
    color: rgb(69, 69, 194);
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 40px;
}

main img {
    width: 100%;
} 
.pic {
    border-radius: 50%;
    width: 20%;
    border: 2px solid white;
    padding: 5px;
    float: left;
   
    
}
article{
    background-color: rgb(153, 199, 218);
    padding: 20px;
    margin-bottom: 10px;
}

h4 {
    float: left;
    padding-left: 20px;

}
article p {
    clear: left;
    padding-top: 10px;
}